{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'timeline/style.css' %}">
    {% if title %}
        <title>Totally Not Instagram - {{ title }}</title>
    {% else %}
        <title>Totally Not Instagram</title>
    {% endif %}
    	<script src="{% static 'timeline/dmxAppConnect/dmxAppConnect.js' %}"></script>
	<meta charset="UTF-8">
	<script src="{% static 'timeline/js/jquery-3.4.1.slim.min.js' %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'timeline/bootstrap/4/simplex/bootstrap.min.css' %}" />
	<script src="{% static 'timeline/dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js' %}" defer=""></script>
	<script src="{% static 'timeline/dmxAppConnect/dmxBootstrap4Modal/dmxBootstrap4Modal.js' %}" defer=""></script>
</head>
<body>
	<header class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
						<img src="{% static 'timeline/TNI_Assets/TNI-Logo.png' %}" class="navbar-brand mr-auto" href="#" width="55">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbar1_collapse">
							<div class="navbar-nav">
							<a class="nav-item nav-link active" href="/home">Home</a>
							<a href="/registration" class="nav-item nav-link">Register</a>
							<a class="nav-item nav-link" href="#">Login</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="container wappler-block pt-3 pb-3">
		<div class="modal" id="modal-loggedin" is="dmx-bs4-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p class="text-center text-success"><i class="fas fa-check-circle fa-6x"></i></p>
						<h4 class="text-center font-weight-light"></h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
    <main>
		<div class="container wappler-block">
			<div class="row">
				<div class="col-12 col-md-8 col-xl-9">
                    {% block content %}{% endblock %}
				</div>
				<div class="col-12 col-md-4 col-xl-3">
					<div class="card sticky-top">
						<div class="card-body">
							<h5 class="card-title">[FRIENDS SECTION HERE]</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="bootstrap/4/js/popper.min.js"></script>
	<script src="bootstrap/4/js/bootstrap.min.js"></script>
</body>
</html>
