{% extends "timeline/base.html" %}
{% load static %}
{% block content %}
    {% for post in posts %}
        <div class="card mb-4">
            <div class="card-header">Something goes here?</div>
            <img src="{% static 'timeline/TNI_Assets/timeline_image.png' %}" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{post.author}}</h4>
                <p class="card-text">Posted on {{post.timestamp}} || {{ post.caption }}</p>
                <form action="" id="usrform">
                    <textarea rows="2.5" cols="40" name="comment" form="usrform">
                    </textarea></br>
                     <input type="Submit" value="Comment">
                 </form>
                <a href="#" class="btn btn-primary">Like</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
