{% extends "timeline/base.html" %}
{% load static %}
{% block content %}

	<div class="container mb-3 border rounded w-100">
		<form id="form2" method="post" enctype="multipart/form-data" action="imageupload/">
            {% csrf_token %}
			<div class="form-row mt-3">
				<h1>Create Your Post Here!</h1>
			</div>
			<div class="form-row">
				<div class="col">
					<div class="row">
						<div class="col">
							<small id="bs4-form-group-help1" class="form-text text-muted">First, choose your image's name.</small>
						</div>
					</div>
					<div class="row mb-1">
						<div class="col">
							<input id="text2" name="name" type="text" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small id="bs4-form-group-help2" class="form-text text-muted">Next, choose the post's caption.</small>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col">
							<input id="text3" name="caption" type="text" class="form-control">
						</div>
					</div>
					<div class="row mb-1">
						<div class="col">
							<small id="bs4-form-group-help3" class="form-text text-muted">Lastly, upload your image!</small>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col"><input id="file1" name="Img" type="file" class="form-control-file"></div>
					</div>

					<div class="row mb-3">
						<div class="col offset-0 w-auto">
							<button type="submit" class="btn bg-info mr-1 w-100 text-white">Create Post</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

    {% for post in posts %}
        <div class="card mb-3">
            <img class="card-img-top w-100" src="{{ post.Img.url }}" alt="{{ post.name }}">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="w-25">
                                <div class="container">
                                    <img src="{% static 'timeline/TNI_Assets/TNI-Logo.png' %}" class="w-50 h-50">
                                </div>
                            </td>
                            <td valign="middle" class="w-75 h-auto">
                                <h4 class="card-title align-self-center">{{ post.user }}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-left text-muted">Posted on {{ post.post_date }}</p>
                <p class="card-text">{{ post.name }}</p>
				
				<form method="post" action="like/">
					{% csrf_token %}
					<input type="hidden" name="name" value={{ post.name }} />
					<a onclick="this.parentNode.submit();" class="btn btn-primary">LIKE</a> <p> {{ post.likes }}</p>
				</form>
                <hr>
                <div class="container mt-3 w-100">
                    <form id={{ post.name }} method="post" action="comment/">
						{% csrf_token %}
						<input type="hidden" form={{ post.name }} name="img" value={{ post.name }} />
                        <textarea  name="msg" form={{ post.name }} id="text1" class="form-control" dmx-bind:placeholder="Have some thoughts about this post? Comment here!"></textarea>
                        <button type="submit" value="Comment" form={{ post.name }} class="btn bg-info mt-3 text-white">Submit Comment</button>
                    </form>
				</div>
				{% for comment in comments %}
				<div>
					{% if comment.img == post %}
						{{ comment.post_date }} -- {{ comment.user }} -- {{ comment.msg }}
					{% endif %}
				</div>
				{% endfor %}

            </div>
        </div>
    {% endfor %}

{% endblock content %}
