{% load static %}

<!doctype html>
<html>

<head>
	<script src="{% static 'timeline/dmxAppConnect/dmxAppConnect.js' %}"></script>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<script src="{% static 'timeline/js/jquery-3.4.1.slim.min.js' %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'timeline/bootstrap/4/simplex/bootstrap.min.css' %}" />
	<script src="{% static 'dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js' %}" defer=""></script>
	<script src="{% static 'dmxAppConnect/dmxBootstrap4Modal/dmxBootstrap4Modal.js' %}" defer=""></script>
	<script src="{% static 'dmxAppConnect/dmxBootstrap4Collapse/dmxBootstrap4Collapse.js' %}" defer=""></script>
	<script src="{% static 'dmxAppConnect/dmxMasonry/dmxMasonry.js' %}" defer=""></script>
</head>

<body onload="modal-loggedin" is="dmx-app" id="timeline">

	<header class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
						<img src="{% static 'timeline/TNI_Assets/TNI-Logo.png' %}"  class="navbar-brand mr-auto" href="#" width="55">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbar1_collapse">
							<div class="navbar-nav">
								<a class="nav-item nav-link active" href="{% static '#' %}">Home</a>
								<a class="nav-item nav-link" href="{% static '#' %}">About</a>
								<a class="nav-item nav-link" href="{% static '#' %}">Contact</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="container wappler-block pt-3 pb-3">
		<div class="modal" id="modal-loggedin" is="dmx-bs4-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p class="text-center text-success"><i class="fas fa-check-circle fa-6x"></i></p>
						<h4 class="text-center font-weight-light">Welcome! You have logged in.</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<main>
		<section>
			<div class="container">
				<div class="row">
					
					<div class="col">
						<div class="row mb-2">
							<div class="col-4">
								<h1>{{ profile.user.username }}</h1>
							</div>
							<div class="col">
								<form method="post" action="follow/">
									{% csrf_token %}
									<input type="hidden" name="targetUser" value={{ profile.user.username }} />
									<a onclick="this.parentNode.submit();" class="btn bg-info text-light">Follow</a>
								</form>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-1">
								<p class="font-weight-bold">{{ 23 }}</p>
							</div>
							<div class="col">
								<p>posts</p>
							</div>
							<div class="col-1">
								<p class="font-weight-bold">{{ numFollowers }}</p>
							</div>
							<div class="col">
								<p>followers</p>
							</div>
							<div class="col-1">
								<p class="font-weight-bold">{{ numFollowed }}</p>
							</div>
							<div class="col">
								<p>following</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
		{% block postContent %}
		{% for post in posts %}
			<div class="card mb-3">
				<img class="card-img-top w-100" src="{{ post.Img.url }}" alt="{{ post.name }}">
				<div class="card-body">
					<table class="table">
						<tbody>
							<tr>
								<td class="w-25">
									<div class="container">
										<img src="{% static 'timeline/TNI_Assets/TNI-Logo.png' %}" class="w-50 h-50">
									</div>
								</td>
								<td valign="middle" class="w-75 h-auto">
									<h4 class="card-title align-self-center">{{ post.user }}</h4>
								</td>
							</tr>
						</tbody>
					</table>
					<p class="text-left text-muted">Posted on {{ post.post_date }}</p>
					<p class="card-text">{{ post.name }}</p>
					
					<form method="post" action="like/">
						{% csrf_token %}
						<input type="hidden" name="name" value={{ post.name }} />
						<a onclick="this.parentNode.submit();" class="btn btn-primary">LIKE</a> <p> {{ post.likes }}</p>
					</form>
					<hr>
					<div class="container mt-3 w-100">
						<form id={{ post.name }} method="post" action="comment/">
							{% csrf_token %}
							<input type="hidden" form={{ post.name }} name="img" value={{ post.name }} />
							<textarea  name="msg" form={{ post.name }} id="text1" class="form-control" dmx-bind:placeholder="Have some thoughts about this post? Comment here!"></textarea>
							<button type="submit" value="Comment" form={{ post.name }} class="btn bg-info mt-3 text-white">Submit Comment</button>
						</form>
					</div>
					{% for comment in comments %}
					<div>
						{% if comment.img == post %}
							{{ comment.post_date }} -- {{ comment.user }} -- {{ comment.msg }}
						{% endif %}
					</div>
					{% endfor %}

				</div>
			</div>
		{% endfor %}
		{% endblock postContent %}
	</main>
	<script src="{% static 'timeline/bootstrap/4/js/popper.min.js' %}"></script>
	<script src="{% static 'timeline/bootstrap/4/js/bootstrap.min.js' %}"></script>
</body>

</html>