<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SOEN 341 - Totally Not Instagram - {%block title%}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .btn-light{
                color: black !important;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="/">
                <img src="https://media.glassdoor.com/sqll/253618/concordia-university-squarelogo-1479135050808.png" width="30" height="30" class="d-inline-block align-top"
                    alt="">
                Totally Not Instagram
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <span class="nav-link caps">Welcome, {{ user.username }}!</span></a>
                    </li>
                </ul>
            </div>
            <a class="nav-link btn btn-dark" role="button" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-light" role="button" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    <li class="nav-item ml-md-2">
                        <a class="nav-link btn btn-light" role="button" href="{% url 'login' %}">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}

        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            var caps = document.getElementsByClassName('caps');
            caps.innerHTML = document.getElementsByClassName('caps').toUpperCase();
        </script>
    </body>
</html>